.header {
  background: #ffffff;
  height: 60px;
}

.mbtn {
  border: 0;
  font-size: 20px;
  background: #fff;
  outline: 0;
  height: 40px;
  width: 40px;
}
.mbtn:hover {
  outline: none;
  background: #f2f2f2;
  border-radius: 20px;
}

.header-menu {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.manu-logo {
  margin-left: 10px;
}
.manu-logo h1 {
  color: #030303;
  font-size: 25px;
}
.manu-logo a {
  text-decoration: none;
  text-transform: capitalize;
}
.logo {
  color: red;
  padding: 5px;
}
/* searching */
.searching {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.search-area {
  width: 85%;
  padding: 8px;
  outline: none;
}
.search-icon {
  padding: 9px 30px;
  outline: none;
  border: 1px solid #000;
  background: #e9e9e9;
  border-left: 0;
}
.search-icon:hover {
  outline: none;
}
.voice-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
  outline: none;
  border: none;
  font-size: 25px;
}
.right-side {
  display: flex;
  justify-content: right;
}
.list-item {
  display: flex;
  align-items: center;
}
.item {
  display: flex;
}
.item-link {
  padding: 5px 25px;
  font-size: 30px;
}
.user-icon {
  color: gray;
}
.user img {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  border-radius: 50%;
}

.siderbar-icon {
  height: 30px;
  width: 30px;
  margin-left: 30px;
}
.left-mane {
  margin-bottom: 5px;
  padding: 10px 0px;
  transition: 0.3s;
}
.left-mane:hover {
  background: #f2f2f2;
}
.sidebar-text {
  font-size: 20px;
  text-transform: capitalize;
  padding-left: 8px;
  color: #000;
}
.left-mane a:hover {
  text-decoration: none;
}
.homeactive {
  background: #d9d9d9;
}
.more-items {
  display: none;
}
.moreactive {
  display: contents;
}
.show-title {
  text-transform: uppercase;
  margin-left: 20px;
}
